* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

head {
    background-color: #191e26;
}

.banner {
    /* background-color: aquamarine; */
    text-align: center;
    font-size: 56px;
    height: 46.55vw;
}

.banner * {
    padding: 0;
}

.vid-banner {
    display: block;
    position: relative;
}

.vid-banner video {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    /* object-fit: cover; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 100px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    animation: vid-blur-anim 1s 0.2s 1 normal;
}

@keyframes vid-blur-anim {
    0% {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }

    100% {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
}

.banner h1 {
    color: #f0f8ff;
    z-index: 1;
    padding-top: 20%;
    text-shadow: 2px 2px 2px #191e26;
    animation: title-anim 1s 0.1s 1 normal;
}

@keyframes title-anim {
    0% {
        padding-top: 23%;
        text-shadow: 0px 0px 0px;
        opacity: 0.25;
    }

    100% {
        padding-top: 20%;
        bottom: 0px;
        color: rgba(240, 248, 255);
        text-shadow: 2px 2px 2px #191e26;
        opacity: 1.0;
    }
}

@keyframes nav-anim {
    0% {
        background-color: #f0f8ff;
        color: #264b9c
    }

    100% {
        background-color: #264b9c;
        color: #f0f8ff;
    }
}

nav {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #264b9c;
    font-size: 20px;
    animation: nav-anim 1s 0.1s 1 normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 20px;
    /* border: solid black; */
    color: #f0f8ff;
    text-decoration: none;
    animation: nav-color-anim 1s 0.1s 1 normal;
    margin: 0px;
    background-color: #264b9c;
    transition: background-color .2s;
    animation: nav-anim 1s 0.1s 1 normal;
}

nav a:hover {
    color: #264b9c;
    background-color: #f0f8ff;
}

.video-section {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
    background-color: #191e26;
}

.vid-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: #264b9c;
    border-style: unset;
    background-color: #264b9c;
    padding-top: 25px;
    padding-bottom: 25px;
    /* border-radius: 5px; */
}

.vid-innerc * {
    display: inline-block;
}

.vid-innerc {
    display: flex;
    margin: 0px auto;
    width: 100%;
    height: min-content;
    /* border: solid; */
    justify-content: center;
    align-items: center;
}

.vidlink-form {
    text-align: center;
    /* background-color: #264b9c; */
    /* padding-bottom: 50px; */
    width: 45%;
    padding: 25px;
    height: 300px;
}

.vidlink-form p {
    color: #f0f8ff;
}

.vidlink-form input,
button {
    background-color: #191e26;
    color: #f0f8ff;
    border-radius: 5px;
    border-color: #023a89;
    border-style: solid;
}

#link-form {
    padding: 10px 12px;
    width: 25vw;
    margin-top: 5px;
    outline: 0px;
}

.appear {
    display: block;
}

.disappear {
    display: none;
}

#link-button,
#choose-button {
    padding: 10px 18px;
    background-color: #073c8b;
    border-color: #023a89;
    border-style: solid;
    cursor: pointer;
    outline: 0px;
}

.vidplay-div {
    text-align: center;
    /* border: solid; */
    /* padding: 0px; */
    margin: 0px;
    display: flex;
    align-items: center;
}

.vidplay-div video {
    height: 480px;
    width: auto;
    /* border-radius: 8px; */
    /* border: #264b9c solid 5px; */
    /* transition: border .2s; */
    outline: 0px;
}

/* .vidplay-div video:hover {
    border: #023a89 solid 5px;
} */

#link-dropdown {
    padding: 7px 10%;
    /* margin: 20px 0px; */
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 5px;
    background-color: #191e26;
    border: solid #023a89;
    color: #f0f8ff;
    /* border: solid; */
    outline: 0px;
}

#link-dropdown::-ms-expand {
    margin-right: 5px;
}

#res-dd {
    border-radius: 5px;
    background-color: #191e26;
    border: #023a89 solid;
    color: #f0f8ff;
    outline: 0px;
    padding: 7px 12px;
    text-align: left;
}

#link-dropdown * {
    text-align: left;
}

.link-div {
    height: auto;
    width: 100%;
}

.link-div-zero * {
    display: none;
}

.link-div * {
    display: inline-block;
}